<h2>People Directory</h2>
<form style="background-color: #f2f2f2;" class="panel">
  <div class="form-inline form-group card-block">
    <label for="affilselect">Filter By: </label>
    <select class="custom-select ml-2" ng-model="affiliation"
      ng-change="selectAffil()" id="affilselect">
      <option value="0">All</option>
      <option value="1">Department of Clinical Chemistry</option>
      <option value="2">Department of Community MedTech</option>
      <option value="3">Center of Research and Innovation</option>
    </select>
  <div class="form-inline form-group">
    <input type="text" class="form-control ml-2"
      id="peoplesearch" ng-model="query" ng-change="searchFor()"
      placeholder="Search here">
  </div>
  </div>
</form>
<div class="row">
  <div class="col-sm-12">
    <div ng-repeat="person in flt_employees">
      <div class="card mb-1">
        <div class="card-block">
          <h4 class="card-title">
            {{person.first_th}} {{person.last_th}}
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            {{person.first_en}} {{person.last_en}}
          </h6>
          <p class="card-text">
            Affiliation: {{person.affiliation_id}} <br>
            Email: {{person.email}} <br>
            Employed date: {{person.employed_date | date: 'mediumDate'}}
          </p>
        </div> <!-- card-block -->
        <div class="card-footer">
          <a href="#" class="card-link">See Profile</a>
        </div> <!-- footer -->
      </div> <!-- card -->
    </div> <!-- ngRepeat -->
  </div>
</div> <!-- row -->